**/target/
**/.classpath
**/.project
**/.settings/
**/conf/hadoop/core-site.xml
**/.ipynb_checkpoints/
**/.bash_history
**/.local/
**/dependency-reduced-pom.xml
**/.jupyter/
**/.wget-hsts
**/wget-log
